<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8 ">
  <title>Stock Portfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/base.css')}}">
  <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/layout.css')}}">
  <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/modules.css')}}">
  <link rel="stylesheet" href="{{request.static_url('stock_portfolio:static/normalize.css')}}">
</head>
<body>
  <header>
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="{{request.route_url('home')}}">Home</a></li>
          {% if request.authenticated_userid %}
          <li><a href="{{request.route_url('portfolio')}}">Portfolio</a></li>
          <li><a href="{{request.route_url('stock')}}">Search</a></li>
          <li><a href="{{request.route_url('logout')}}">Logout</a></li>
          {% else %}
          <li><a href="{{request.route_url('auth')}}">Login</a></li>
          <li><a href="{{request.route_url('auth')}}">Register</a></li>
          {% endif %}
      </ul>
    </div>
    <h1>Stock Portfolio</h1>
  </nav>
</header>
<main>
  <h3>A stock portfolio app for Code 401 Python</h3>
  {% block content %}

  {% endblock content %}
</main>
</body>
</html>
