{% extends "base.jinja2" %}
{% block content %}
{% for stock in stocks %}
  <div>
    <h3>{{stock.companyName}}</h3>
    <p><a href="{{request.route_url('detail', symbol=stock.symbol)}}">More Details</a></p>
  </div>
  {% endfor %}
{% endblock content %}
