{% extends "base.jinja2" %}
{% block content %}
    <form class="addStock">
      <input class="stock" type="text" placeholder="Stock Ticker" required>
      <button type="submit">Add to Portfolio</button>
    </form>
{% endblock content %}
